<h2>new grrrrumbl</h2>

<form>
  <input placeholder="grumbl title" data-ng-model="GrumbleNewViewModel.grumble.title" />
  <input placeholder="the grumbl-er" data-ng-model="GrumbleNewViewModel.grumble.authorName" />
  <input placeholder="grumbl pic" data-ng-model="GrumbleNewViewModel.grumble.photoUrl" />
  <textarea placeholder="your grumbl" data-ng-model="GrumbleNewViewModel.grumble.content"></textarea>
  <button type="button" data-ng-click="GrumbleNewViewModel.create()">Create</button>
</form>
